body{
  font-family: 'ArcadeClassic', sans-serif;
  background-color: yellow;
}
h1{
  display: flex;
  justify-content: center;
}
.hero{
  display: flex;
  justify-content: space-around;
}
ul{
  list-style-type: none;
  size: 50px;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}
.w{
  height: 150px;
  width: 150px;
  font-size: 100px;
}



