body{
  font-family: 'ArcadeClassic', sans-serif;
  background-color: yellow;
}
h1{
  display: flex;
  justify-content: center;
}
.hero{
  display: flex;
  justify-content: space-around;
}
ul{
  list-style-type: none;
  size: 50px;
}


